.nav {
  color: rgb(255, 255, 255);
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(56, 56, 56);
}

.options {
  text-align: center;
}

button {
  margin-right: 1rem;
}

.filmOptions {
  border: 5px solid rgb(12, 143, 18);
}
