<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Link filmu</mat-label>
    <input matInput [(ngModel)]="movieInput">
  </mat-form-field>
  <button mat-raised-button (click)="addMovie()">Dodaj film</button>
</div>
<div class="movie-list">
  <div class="display">
    <button mat-raised-button [matMenuTriggerFor]="menu">Rodzaju displayu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Lista</button>
      <button mat-menu-item>Kafelki</button>
    </mat-menu>
  </div>
</div>
<div class="movie" *ngFor="let movie of (movies$ | async)">
  <p *ngIf="movie.loading; else movieView">loading...{{movie.loading}}</p>
  <iframe class="video" width="200" height="150" [src]="movie.src" frameborder="0" allowfullscreen></iframe>
  <div class="movie-button">
    <button mat-raised-button>Obejrzyj</button>
    <button mat-raised-button>Usuń</button>
    <button mat-raised-button>Dodaj do ulubionych</button>
  </div>
  <ng-template #movieView>
    <p>Tytuł: {{movie.title}}, <br>
      Liczba wyświetleń: {{movie.viewCount}}, <br>
      Liczba polubień: {{movie.likeCount}}, <br>
      Data dodania do biblioteki: {{movie.publishedAt}} </p>
  </ng-template>
</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
