<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Link filmu</mat-label>
    <input matInput [(ngModel)]="newMovieInput">
  </mat-form-field>
  <button mat-raised-button (click)="addMovie()">Dodaj film</button>

</div>
<div class="movieList">
  <div class="display">
    <button mat-raised-button [matMenuTriggerFor]="menu">Rodzaju displayu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Lista</button>
      <button mat-menu-item>Kafelki</button>
    </mat-menu>
  </div>
</div>
<!-- <div class="movie" *ngFor="let movie of movies">{{movie}} -->
<div class="movie" *ngFor="let movie of movies">{{movie}}
  <button mat-raised-button>Obejrzyj</button>
  <button mat-raised-button>Usuń</button>
  <button mat-raised-button>Dodaj do ulubionych</button>
</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>